/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

header nav button {
  background-color: #555;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

header nav button:hover {
  background-color: #777;
}

main {
  display: flex; /* Flexbox für horizontale Anordnung */
  flex-direction: column;
  height: calc(100vh - 50px); /* 100% der Höhe minus die Höhe des Headers */
  width: 100%; /* Nimmt die gesamte verfügbare Breite ein */
  box-sizing: border-box;
}

#container {
  display: flex; /* Flexbox für horizontale Anordnung */
  width: 100%; /* Nimmt die gesamte verfügbare Breite des main Containers ein */
  height: 100%; /* Nimmt die gesamte Höhe des main Containers ein */
  box-sizing: border-box;
}

#visualization {
  width: 50%; /* Nimmt 50% der Breite des Containers ein */
  height: 100%; /* Nimmt 100% der Höhe des Containers ein */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

#groupHierarchy {
  width: 50%; /* Nimmt ebenfalls 50% der Breite des Containers ein */
  height: 100%; /* Nimmt 100% der Höhe des Containers ein */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin: 5px; /* Etwas Abstand zwischen den Elementen */
}

.dropdown-button {
  background-color: #555; /* Gleiche Farbe wie die Buttons im Header */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.dropdown-button:hover {
  background-color: #777; /* Hover-Farbe wie im Header */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Dunkler Hintergrund passend zum Header */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  min-width: 200px;
  border: 1px solid #555; /* Umrandung in einer ähnlichen Farbe */
  border-radius: 5px;
}

.dropdown-content label {
  display: block;
  margin-bottom: 5px;
  color: white; /* Weißer Text für besseren Kontrast */
  cursor: pointer;
  font-size: 14px;
}

.dropdown-content label input[type="checkbox"] {
  margin-right: 5px; /* Abstand zwischen Checkbox und Text */
}

.dropdown:hover .dropdown-content {
  display: block;
}